<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lat</key>
		<real>-37.802871</real>
		<key>long</key>
		<real>144.959122</real>
		<key>no</key>
		<integer>1</integer>
		<key>title</key>
		<string>Seven Seeds</string>
		<key>food</key>
		<string>🍴</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.798227</real>
		<key>long</key>
		<real>144.968468</real>
		<key>no</key>
		<integer>2</integer>
		<key>title</key>
		<string>Market Lane - Carlton</string>
		<key>food</key>
		<string>🍰</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.814507</real>
		<key>long</key>
		<real>144.958272</real>
		<key>no</key>
		<integer>3</integer>
		<key>title</key>
		<string>Patricia</string>
		<key>food</key>
		<string>🍰</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.81354</real>
		<key>long</key>
		<real>144.962125</real>
		<key>no</key>
		<integer>4</integer>
		<key>title</key>
		<string>Brother Baba Budan</string>
		<key>food</key>
		<string>🍰</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.81354</real>
		<key>long</key>
		<real>144.956482</real>
		<key>no</key>
		<integer>5</integer>
		<key>title</key>
		<string>Altius</string>
		<key>food</key>
		<string>🍰</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.802737</real>
		<key>long</key>
		<real>144.967207</real>
		<key>no</key>
		<integer>6</integer>
		<key>title</key>
		<string>Assembly</string>
		<key>food</key>
		<string>🍰</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.797717</real>
		<key>long</key>
		<real>144.96918</real>
		<key>no</key>
		<integer>7</integer>
		<key>title</key>
		<string>Vincent the Dog</string>
		<key>food</key>
		<string>🍴</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.81148</real>
		<key>long</key>
		<real>144.971129</real>
		<key>no</key>
		<integer>8</integer>
		<key>title</key>
		<string>Traveller</string>
		<key>food</key>
		<string>🍰</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.796072</real>
		<key>long</key>
		<real>144.977506</real>
		<key>no</key>
		<integer>9</integer>
		<key>title</key>
		<string>Industry Beans</string>
		<key>food</key>
		<string>🍴</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.79901</real>
		<key>long</key>
		<real>144.985935</real>
		<key>no</key>
		<integer>10</integer>
		<key>title</key>
		<string>Everyday Coffee</string>
		<key>food</key>
		<string>🍰</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.822745</real>
		<key>long</key>
		<real>145.034223</real>
		<key>no</key>
		<integer>11</integer>
		<key>title</key>
		<string>Axil Coffee Roasters</string>
		<key>food</key>
		<string>🍴</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.802237</real>
		<key>long</key>
		<real>144.94945</real>
		<key>no</key>
		<integer>12</integer>
		<key>title</key>
		<string>Auction Rooms</string>
		<key>food</key>
		<string>🍴</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.802432</real>
		<key>long</key>
		<real>144.94945</real>
		<key>no</key>
		<integer>13</integer>
		<key>title</key>
		<string>Counter</string>
		<key>food</key>
		<string>🍰</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.807415</real>
		<key>long</key>
		<real>144.958853</real>
		<key>no</key>
		<integer>14</integer>
		<key>title</key>
		<string>Market Lane - Therry St</string>
		<key>food</key>
		<string>🍰</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.845765</real>
		<key>long</key>
		<real>144.993299</real>
		<key>no</key>
		<integer>15</integer>
		<key>title</key>
		<string>Market Lane - Prahan Markets</string>
		<key>food</key>
		<string>🍰</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.831271</real>
		<key>long</key>
		<real>144.960383</real>
		<key>no</key>
		<integer>17</integer>
		<key>title</key>
		<string>St Ali</string>
		<key>food</key>
		<string>🍴</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.806199</real>
		<key>long</key>
		<real>144.982803</real>
		<key>no</key>
		<integer>18</integer>
		<key>title</key>
		<string>Burnside</string>
		<key>food</key>
		<string>🍰</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.809037</real>
		<key>long</key>
		<real>144.987937</real>
		<key>no</key>
		<integer>18</integer>
		<key>title</key>
		<string>Shopfront</string>
		<key>food</key>
		<string>🍰</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.818123</real>
		<key>long</key>
		<real>144.957931</real>
		<key>no</key>
		<integer>19</integer>
		<key>title</key>
		<string>Market Lane - Collins Street</string>
		<key>food</key>
		<string>🍰</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.802296</real>
		<key>long</key>
		<real>144.985152</real>
		<key>no</key>
		<integer>20</integer>
		<key>title</key>
		<string>Proud Mary</string>
		<key>food</key>
		<string>🍴</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.802773</real>
		<key>long</key>
		<real>144.987021</real>
		<key>no</key>
		<integer>21</integer>
		<key>title</key>
		<string>Aunt Peg&apos;s</string>
		<key>food</key>
		<string>🍰</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.809208</real>
		<key>long</key>
		<real>145.006858</real>
		<key>no</key>
		<integer>22</integer>
		<key>title</key>
		<string>Coffee Supreme</string>
		<key>food</key>
		<string>🍰</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.807296</real>
		<key>long</key>
		<real>144.982834</real>
		<key>no</key>
		<integer>23</integer>
		<key>title</key>
		<string>Like Minded Projects</string>
		<key>food</key>
		<string>🍪</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.798994</real>
		<key>long</key>
		<real>144.978446</real>
		<key>no</key>
		<integer>24</integer>
		<key>title</key>
		<string>Stagger Lee&apos;s</string>
		<key>food</key>
		<string>🍴</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.81126</real>
		<key>long</key>
		<real>144.960912</real>
		<key>no</key>
		<integer>25</integer>
		<key>title</key>
		<string>Shortstop Coffee &amp; Donuts</string>
		<key>food</key>
		<string>🍩</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.816789</real>
		<key>long</key>
		<real>144.966159</real>
		<key>no</key>
		<integer>26</integer>
		<key>title</key>
		<string>Dukes Coffee Roasters</string>
		<key>food</key>
		<string>🍰</string>
	</dict>
	<dict>
		<key>lat</key>
		<real>-37.820172</real>
		<key>long</key>
		<real>144.956678</real>
		<key>no</key>
		<integer>27</integer>
		<key>title</key>
		<string>Stand Up</string>
		<key>food</key>
		<string>🍰</string>
	</dict>
</array>
</plist>
